; EditorConfig is awesome: http://EditorConfig.org

root = true  ; top-most EditorConfig file

; Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

; 4 space indentation
[*.java]
indent_style = tab
indent_size  = 4

[*.md]
indent_style = space
indent_size  = 4

; 2 space indentation
[{*.xml,*.xsd,*.oda}]
indent_style = space
indent_size  = 2

; tab indentation
[Makefile]
indent_style = tab
