thirdparty/* linguist-vendored
resources/ linguist-vendored
algorithms/java/resources/* linguist-vendored
testData/ linguist-vendored
external/ linguist-vendored
refout/* linguist-vendored
*_results.m linguist-vendored
*.m linguist-vendored
*.html linguist-vendored
*.so linguist-vendored
*.lib linguist-vendored
*.la linguist-vendored
native_bin/ linguist-vendored
bin/ linguist-vendored
