classes/
examples/
jre/
opendaTestRuns/
opendaTestBuild/
opendaTestReports/
*.iws
**/bin
**/build
**/build-test
**/MANIFEST.MF
**/tests/*.log
OpenDATimings_*.txt
**/stochModel/work[0-9]
*.*~
build.errors
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
