classes/
examples/
opendaTestRuns/
opendaTestBuild/
opendaTestReports/
*.iws
**/bin
**/build
**/build-test
**/MANIFEST.MF
**/tests/*.log
**/.vs
OpenDATimings_*.txt
*.*~
build.errors
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
