thirdparty/* linguist-vendored
resources/ linguist-vendored
algorithms/java/resources/* linguist-vendored
testData/ linguist-vendored
external/ linguist-vendored
refout/* linguist-vendored
*_results.m
