language: java

jdk:
  - openjdk11
  - oraclejdk11

before_install:
  - sudo apt-get update
  - sudo apt-get install jq
  - sudo apt-get install ant
  - sudo apt-get install ant-optional
  - sudo apt-get install gfortran
  - sudo apt-get install mpi-default-dev
  - sudo apt-get install libnetcdf-dev
  - sudo apt-get install liblapack-dev


install: ./travis_install.sh
script: ./travis_test.sh 

#after_script:
#  - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r build/reports/jacoco/test/jacocoTestReport.xml

